@import url("https://fonts.googleapis.com/css?family=Poppins");

:root {
    --font-family: "Poppins", sans-serif;
    --green: #50c878;
    --red: #cf352e;
    --blue: #2386b8;
    --rainbow: linear-gradient(
        45deg,
        rgba(255, 0, 0, 1) 10%,
        rgba(255, 154, 0, 1) 20%,
        rgba(208, 222, 33, 1) 40%,
        rgba(63, 218, 216, 1) 60%,
        rgba(95, 21, 242, 1) 80%,
        rgba(186, 12, 248, 1) 100%
    );
    --see-through-white: rgba(255, 255, 255, 0.8);
    --controls-border: 1px solid rgba(0, 0, 0, 0.1);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

#container {
    position: relative;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
}

.controls {
    background-color: var(--see-through-white);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    border: var(--controls-border);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    backdrop-filter: blur(10px);
    user-select: none;
    z-index: 2;
}

.group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.group .range {
    width: 100px;
}

.color-pickers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.color-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29px;
    height: 29px;
    border-radius: 50%;
}

.color-container div {
    width: 25px;
    height: 25px;
    background: var(--rainbow);
    border-radius: 50%;
    cursor: pointer;
}

.color-container input {
    appearance: none;
    border-width: 0;
    background: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}

.color-container input::-webkit-color-swatch {
    align-self: center;
    border: none;
    border-radius: 50%;
    block-size: 25px;
}

.color-container.active {
    border: 1px solid black;
}

.mode-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mode-buttons button {
    all: unset;
    background-color: white;
    color: var(--blue);
    border: 1px solid var(--blue);
    padding: 10px 18px;
    width: 60px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease all;
}

.mode-buttons button:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right-width: 0;
}

.mode-buttons button:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left-width: 0;
}

.mode-buttons button.active {
    background-color: var(--blue);
    color: white;
}

#inner-radius,
#number-of-sides {
    display: none;
}

#inner-radius.active,
#number-of-sides.active {
    display: flex;
}

#clear {
    all: unset;
    background-color: var(--red);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid white;
    transition: 0.3s ease all;
}

#clear:hover {
    background-color: white;
    color: var(--red);
    border: 1px solid var(--red);
}

#download {
    all: unset;
    background-color: var(--blue);
    color: white;
    padding: 5px 9px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid white;
    transition: 0.3s ease all;
}

#download:hover {
    background-color: white;
    color: var(--blue);
    border: 1px solid var(--blue);
}
